{% extends 'user/home_layout.html'%}

{% block content%}
<div class="content" style="background-color: white;padding:3em">
    <h3>Edit your profile </h3>
    <form action="" enctype="multipart/form-data" method="POST">
        {{ pform.csrf_token}}
        <div class="mb-3">
            {{ pform.fullname.label}}
            {{ pform.fullname(class_='form-control border-success noround' ,value=userdeets.user_fullname)}}
        </div>
        <div class="mb-3">
            {{ pform.btnsubmit(class_='btn btn-danger')}}
        </div>
    </form>
    <p>This is your dashboard, please use the second-level menu to carry out tasks</p>
   </div>

{% endblock %}


{% block partner%}
{% endblock%}


{% block featured%}
{% endblock%}