{% extends 'admin/admin_layout.html'%}



{% block main%}
<div class="container-fluid px-4">
    <h1 class="mt-4">ADD A BOOK</h1>
    <ol class="breadcrumb mb-4">
        <li class="{{ url_for('admin_dashboard')}}">Dashboard</li>
          <li class="breadcrumb-item active">Add Book</li>
    </ol>
    <div class="row">
      <div class="col">
           <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token ()}}">
                <div class="mb-3">
                    <label for="title" class="form-label">Book Title</label>
                    <input type="text" name="title" class="form-control" id="title">

                </div>
                    <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select type="text" name="category" class="form-control" id="author">
                        <option value="please Select">Please Select</option>
                        {%for x in cats%}
                        <option value="{{x.cat_id}}">{{ x.cat_name}}</option>
                        {% endfor%}
                    </select>
                    </div>

                    <fieldset class="mb-3">
                    <legend>Status</legend>
                    <div class="form-check">
                    <input type="radio" name="staus" value="1" class="form-check-input" id="exampleRadio1">
                    <label class="form-check-label" for="exampleRadio1">Publish</label>
                    </div>
                    <div class="mb-3 form-check">
                    <input type="radio" name="status" value="2" class="form-check-input" id="exampleRadio2">
                    <label class="form-check-label" for="exampleRadio2">Do Not Publish</label>
                    </div>
                    </fieldset>
                    <div class="mb-3">
                    <label class="form-label" for="customFile">Upload Cover</label>
                    <input type="file" class="form-control" id="customFile" name="cover">
                    </div>
                    <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="description" class="form-control"></textarea>
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="customFile">Year Published</label>
                        <input name="yearpub" id="yearpub" class="form-control">
                    </div>


                    <button type="submit" class="btn btn-primary">Add Book!</button>
</form>


      </div>
  </div>
    
</div>

{% endblock main%}