{% extends 'admin/admin_layout.html'%}



{% block main%}
<div class="container-fluid px-4">
    <h1 class="mt-4">EDIT BOOK</h1>
    <ol class="breadcrumb mb-4">
        <li class="{{ url_for('admin_dashboard')}}">Dashboard</li>
          <li class="breadcrumb-item active">Edit Book</li>
    </ol>
    <div class="row">
      <div class="col">
           <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token ()}}">
                <div class="mb-3">
                    <label for="title" class="form-label">Book Title</label>
                    <input type="text" name="title" value="{{ deets.book_title}}" class="form-control" id="title">

                </div>
                    <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select type="text" name="category" class="form-control" id="author">
                        <option value="please Select">Please Select</option>
                        
                        {%for c in cats%}
                        {% if deets.book_catid ==c.cat_id%}
                        <option value="{{c.cat_id}}" selected="selected">{{ c.cat_name}}</option>
                        {%else%}
                        <option value="{{c.cat_id}}">{{ c.cat_name}}</option>
                        {%endif%}
                        {% endfor%}
                    </select>
                    </div>

                    <fieldset class="mb-3">
                    <legend>Status</legend>
                    <div class="form-check">
                    <input type="radio" name="status" value="1" class="form-check-input" id="exampleRadio1">
                    <label class="form-check-label" for="exampleRadio1" {% if deets.book_status =="1"%}checked="checked"{%endif%}>Publish</label>
                    </div>
                    <div class="mb-3 form-check">
                    <input type="radio" name="status" value="2" class="form-check-input" id="exampleRadio2">
                    <label class="form-check-label" for="exampleRadio2" {% if deets.book_status =="0"%}checked="checked"{%endif%}>Do Not Publish</label>
                    </div>
                    </fieldset>
                    {% if deets.book_cover !='default.png'%}
                    <div class="mb-3">
                        <label class="form-label" for="customFile">Current Cover</label>
                       <img src="/static/uploads/{{deets.book_cover}}" alt="" style="max-height:100px">
                        </div>
                    {%endif%}
                    <div class="mb-3">
                        <label class="form-label" for="customFile"></label>
                        {% if deets.book_cover !='default.png'%}
                            change
                        {% else%}
                        Upload
                        {% endif %} Cover
                        </div>
                    <div class="mb-3">
                    <label class="form-label" for="customFile"></label>
                    <input type="file" class="form-control" id="customFile" name="cover">
                    </div>
                    <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="description" class="form-control">{{ deets.book_desc}}</textarea>
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="customFile">Year Published</label>
                        <input name="yearpub" id="yearpub" value="{{ deets.book_publication}}" class="form-control">
                    </div>


                    <button type="submit" class="btn btn-primary">Add Book!</button>
</form>


      </div>
  </div>
    
</div>

{% endblock main%}